# Configurações do Banco de Dados (Prisma)
DATABASE_URLa="postgresql://usuario:senha@localhost:5432/nome_do_banco_de_dados"
DATABASE_URL="file:./test.db"

# Configurações de Autenticação
JWT_SECRET="coloque_aqui_uma_string_aleatoria_para_o_jwt"

# Configurações do Servidor
PORT=3001